@charset "UTF-8";

main {
    
    max-width: 800px;
    margin:auto;
    padding: 10px;
    display:grid;

    

}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header {

}

nav{

}

footer {

}

div img{
    width: 100px;
    height: 150px;
}

@media screen and (max-width:400px) {
    article {
        display: grid;
        grid-template-columns: 1fr;
    }
    }