@charset "UTF-8";

body {
    background: goldenrod;
}

main {
    
    max-width: 800px;
    margin:auto;
    padding: 10px;
    display:grid;
    background:white;
    grid-template-areas:
    'h h h h '
    'n n n n '
    'a a a a '
    'f f f f ';
}

article {
<<<<<<< HEAD
    display: grid;
    grid-template-columns: 1fr 1fr;
=======
    grid-area: a;
   

>>>>>>> 4b2d6ec0991052e9e54c712918ef0f30d31e3f6c
}

header {
    grid-area:h;

}

nav{
    grid-area:n;
   
    

}

footer {
grid-area: f;
}

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }

  li a {
    
   
    
    text-decoration: none;
  }

  li {
      text-align: center;
      float: left;
      width:100px;
  }

<<<<<<< HEAD
}

div img{
    width: 100px;
    height: 150px;
}

@media screen and (max-width:400px) {
    article {
        display: grid;
        grid-template-columns: 1fr;
    }
    }
=======
>>>>>>> 4b2d6ec0991052e9e54c712918ef0f30d31e3f6c
